.Scrollable-panel{
    width: 100%;
    top: 900px;
    z-index: 3;
    position: absolute;
    background-color: #fff;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
}

.Scrollable-panel__centred{
    width: 100%;
    max-width: 1300px;
    z-index: 2;
    border-radius: 30px;
    background-color: white;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.Scrollable-panel-centred__FAQ{
    width: 1300px;
    max-width: inherit;
    background-color: rgb(242,245,247);
    border-radius: 30px;
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    
}

.Scrollable-panel__Long-Big{
    
    min-width: 200px;
    margin: 0 22.5% 0 22.5%;
    width: 65%;
    
    height: 200px;
    background-color: rgb(17,72,87);
    position: absolute;
    border-radius: 24px;
    bottom: -100px;
    

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.Scrollable-panel__Long-Big-all-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 35px 0 35px 35px;
}

.Scrollable-panel__Long-Big-header-text{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    width: 100%;
}
.Scrollable-panel__Long-Big-main-text{
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px;
    width: 100%;
}

.Scrollable-panel__Long-Big-button{
    border-radius: 15px;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, .24);
    padding: 10px 24px 10px 24px;
    margin-right: 20px;
    cursor: pointer;
}
.Scrollable-panel__Long-Big-button:hover{
    transition: 0.3s;
    border-color: rgba(255, 255, 255, .4);
}

.img-cards{
    width: 250px;
    height: 250px;
}


.Scrollable-panel-centred__you-may-like-it{
    padding: 50px 0;
    width: 90%;
    margin: 100px 5% 0 5%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Scrollable-panel-centred__you-may-like-it h2{
    font-size: 36px;
    margin: 0 0 40px 0;
    color: #262626;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    width: 100%;
}



.footer{
    width: 100%;
    padding: 40px 0 100px 0;
    background: #171a1e;
    color: #ffffff;

    
}

.footer__content{
    max-width: 1230px;
    
    padding: 0 40px;
    margin: 0 auto;
    background: #171a1e;
    color: #ffffff;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-content__main{
    max-width: 675px;
    padding-right: 25px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.footer-content-main__upper-block{
    width: 100%;

    padding-bottom: 20px;
    margin-bottom: 30px;


    border-bottom: 1px solid rgba(135, 139, 144, .3);;
    color: #ffffff;

    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.footer-content-main__upper-block div{
    margin: 0 30px 15px 0;
    font-size: 14px;
}

.footer-content-main__middle-block{
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 30px;

    border-bottom: 1px solid rgba(135, 139, 144, .3);;
    color: #878b90;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer-content-main__bottom-block{

    color: #878b90;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-content-main__bottom-block div{
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-content__phones{
    max-width: 450px;
}

.text-footer-phones{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    color: #fff;
    max-width: 450px;
}

.text-footer-phones__header-text{
    font-size: 19px;
    font-weight: 600;
}
.text-footer-phones__main-text{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}
.Mass-of-UIButtons-footer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}
.centred-img{
    width: 90px;
    height: 50px;

    display: flex;
    align-content: center;
    justify-content: center;
}


.hover-grey:hover{
    color: #ced1d5;
    cursor: pointer;
}
